{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title> Mobike - {% block title %} {% endblock %}</tittle>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="contenedor-general">
        <section>
            <div class="header">

            </div>
        </section>
        <section>
            {% block content %} {% endblock %}
        </section>
        <section>
            <footer>
                
            </footer>
        </section>
    </div>
</body>
</html>